<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")

    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                
                @Html.ActionLink("Home", "Main", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @if (User.Identity.IsAuthenticated)
                {


                    @Html.ActionLink("Logout", "Logout", "Login", new { area = "" }, new { @class = "navbar-brand" })

                }

                else
                {
                    @Html.ActionLink("Login", "Index", "Login", new { area = "" }, new { @class = "navbar-brand" })
                }
            </div>


            <div class="navbar-collapse collapse">
                <a href="#" class="pull-right">Welcome mr:@User.Identity.Name</a>
                <ul class="nav navbar-nav"></ul>
            </div>

        </div>
    </div>
    <div class="container body-content">

        <div class="row">
            <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked">
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <li class="active"><a href=@Url.Action("Main", "Home")>Home</a></li>
                            <li><a href="@Url.Action("Index", "Module")">Module</a></li>
                            <li><a href="@Url.Action("Index", "Developer")">Developers</a></li>
                            <li><a href="@Url.Action("Index", "Component")">Component</a></li>
                            <li><a href="@Url.Action("Index", "ControllerDetails")">Controller</a></li>

                            <li><a href="@Url.Action("Index", "Service")">Services</a></li>
                            <li><a href="@Url.Action("Index", "User")">Users</a></li>
                            <li><a href="@Url.Action("Index", "DailyDeveloperTaskLog")"> Daily Developer's task log</a></li>
                            <li><a href="@Url.Action("Index", "FinalLog")">Report</a></li>

                        }
                        else
                        {
                            <li><a href="@Url.Action("Index", "DailyDeveloperTaskLog")"> Daily Developer's task log</a></li>
                            <li><a href="@Url.Action("Index", "FinalLog")">Report</a></li>

                        }
                    }
                    else
                    {

                        <li><a href="@Url.Action("Index", "FinalLog")">Report</a></li>
                    }


                </ul>

            </div>
            <div class="col-md-10">
                @RenderBody()
            </div>
        </div>




        <hr />
        <footer>
            <!--- <p>&cop</p>-->
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery-validate.bootstrap-tooltip.js"></script>
    <script src="~/Scripts/Serialized.js"></script>

    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/wickedpicker.js"></script>
    <script src="~/Scripts/wickedpicker.min.js"></script>

    @RenderSection("scripts", required: false)
</body>

</html>
