<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Main", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @if (User.Identity.IsAuthenticated)
                {
                   
                    @Html.ActionLink("Logout", "Logout", "Login", new { area = "" }, new { @class = "navbar-brand" })
                    <li><a href="#">Welcome mr:@User.Identity.Name</a></li>
                }

                else
                {
                    @Html.ActionLink("Login", "Index", "Login", new { area = "" }, new { @class = "navbar-brand" })
                }
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>

        </div>
    </div>
    <div class="container body-content">

        <div class="row">
            <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked">
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <li class="active"><a href=@Url.Action("Main", "Home")><i class="fa fa-home"></i>Home</a></li>
                            <li><a href="@Url.Action("Index", "Module")"><i class="fa fa-list-alt"></i>Module</a></li>
                            <li><a href="@Url.Action("Index", "Component")"><i class="fa fa-file-o"></i>Component</a></li>
                            <li><a href="@Url.Action("Index", "ControllerDetails")"><i class="fa fa-calendar"></i>Controller</a></li>
                            <li><a href="@Url.Action("Index", "Developer")"><i class="fa fa-bar-chart-o"></i>Developers</a></li>
                            <li><a href="@Url.Action("Index", "Service")">Services</a></li>
                            <li><a href="@Url.Action("Index", "User")" class="fa fa-tasks">Users</a></li>
                            <li><a href="@Url.Action("Index", "DailyDeveloperTaskLog")"> Daily Developer's task log</a></li>
                            <li><a href="@Url.Action("Index", "FinalLog")"><i class="fa fa-pencil"></i>Report</a></li>
                            <li><a href="@Url.Action("Index", "DailyDeveloperTaskLog")"> Daily Developer's task log</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("Index", "DailyDeveloperTaskLog")"> Daily Developer's task log</a></li>
                            <li><a href="@Url.Action("Index", "FinalLog")"><i class="fa fa-pencil"></i>Report</a></li>

                        }
                    }
                    else
                    {

                        <li><a href="@Url.Action("Index", "FinalLog")"><i class="fa fa-pencil"></i>Report</a></li>
                    }






                </ul>

            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>




        <hr />
        <footer>
            <!--- <p>&cop</p>-->
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/Serialized.js"></script>
    @RenderSection("scripts", required: false)
</body>

</html>
