
@{
    ViewBag.Title = "Index";
}
@section Scripts{
    <script type="text/javascript">
        loadData();
        function loadData() {
            $.get("@Url.Action("getData")", function (resp) {
                $("#list").html(resp);
            });
        }
        $("[data-action=addNew]").click(function () {
            $.get("@Url.Action("addData")", function (resp) {
                $("#addDeveloperBody").html(resp)
                $('#addDeveloper').modal('show')
            })

        });
        $(document).on("click", "#saveDeveloper", function () {
            $.post("@Url.Action("addData")", { developer: $('#postDataForm').serializeObject() }, function (resp) {

                $('#addDeveloper').modal('hide');
                loadData();


            })
        })
        $(document).on("click", '[data-action=Edit]', function () {
            $.get('@Url.Action("editData")' + '?id=' + $(this).attr('data-id'), function (resp) {
                $('#addDeveloperBody').html(resp);
                $('#addDeveloper').modal('show');

            });
        });
        $(document).on("click", "#updateDeveloper", function () {
            $.post("@Url.Action("editData")", { developer: $('#postDataForm').serializeObject() }, function (resp) {

                $('#addDeveloper').modal('hide');
                loadData();


            })
        });
        $(document).on("click", '[data-action=Delete]', function () {

            if (confirm("Are you sure you want to delete this")) {
                $.post('@Url.Action("Delete")', { 'id': $(this).attr('data-id') }, function (resp) {
                    if (resp.Issuccess === true) {

                        loadData();
                    }

                    else {
                        alert("error");
                    }
                });
            }
        });


        

      
       

      
       


    </script>
    
    }

<h2>Index</h2>
<div id="list">
    </div>

<button type="button" class="btn btn-primary btn-lg" data-action="addNew"> Add Developer </button>

<div id="addDeveloper" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Developer</h4>
            </div>
            <div class="modal-body" id="addDeveloperBody">
                <form method="post"></form>
            </div>
            <div class="modal-footer">

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!