@model DataTableCRUD.Models.Module
    @using (Html.BeginForm("editData", "Module", FormMethod.Post, new { @class = "form-horizontal", id = "postDataForm" }))
    {

        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model=>model.ModuleId)
            <div class="form-group">
                @Html.LabelFor(u => u.ModuleName, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(u => u.ModuleName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(u => u.ModuleName)
                </div>
            </div>
            <div class="form-control">
                <div class="row">
                    <div class="col-md-offset-9 col-md-9">
                        <button type="button" id="updateModule" class="btn btn-primary">Submit</button>
                    </div>
                </div>

            </div>

        </div>


        
    }
